<html>
  <head>
    <title>Sign Up - Connective</title>
    <link rel="stylesheet" href="css/signin.css" />
  </head>
  <body>
    <% if (typeof errorMsg!="undefined" && errorMsg!="") { %>
      <span class='error'><%- errorMsg %></span>
    <% } %>
    Already have a Connective account? <a href="/signin">Sign in here.</a><br />
		<br />
    <form action="signup" method="post" class="formbox">
      <div class="leftDescriptor">
        <div class="descriptor">
          Username
        </div>
        
        <div class="descriptor">
          RPI E-Mail Address
        </div>
        
        <div class="descriptor">
          Password
        </div>
        
        <div class="descriptor">
          Confirm Password
        </div>
        
        <div class="descriptor">
          &nbsp; <!-- Spacer -->
        </div>
        
        <div class="descriptor">
          <input type="submit" name="sub" value="Sign Up" />
        </div>
      </div>
      <div class="rightInputs">
        <div class='inputs'>
          <input type="text" name="userName" <% /* Error highlighting */ if (typeof error!="undefined" && (error & 1)>0) { %>class="errorBox"<% } %> value="<% if (typeof username!="undefined") { %><%- username %><% } %>" />
        </div>
        
        <div class='inputs'>
          <input type="text" name="email" <% /* Error highlighting */ if (typeof error!="undefined" && (error & 2)>0) { %>class="errorBox"<% } %> value="<% if (typeof email!="undefined") { %><%- email %><% } %>" />
        </div>
        
        <div class='inputs'>
          <input type="password" name="pass" <% /* Error highlighting */ if (typeof error!="undefined" && (error & 4)>0) { %>class="errorBox"<% } %> value="" />
        </div>
        
        <div class='inputs'>
          <!-- Password confirmation -->
          <input type="password" name="passConf" <% /* Error highlighting */ if (typeof error!="undefined" && (error & 4)>0) { %>class="errorBox"<% } %> value="" />
        </div>
        
      </div>
    </form>
  </body>
</html>
    </form>