<html>
  <head>
    <title>Sign In - Connective</title>
    <style>
      .leftDescriptor {
        float:left;
        width: 48%;
      }
      .rightInputs {
        float:right;
        width:48%;
      }
      
      .descriptor {
        height:25px;
      }
      .inputs {
        height:25px;
      }
      
      .formbox {
        width:400px;
      }
      
      .error {
        font-weight:bold;
        color:#aa0000;
      }
      
      .errorBox {
        border:1px solid #aa0000;
      }
      
    </style>
  </head>
  <body>
    <% if (typeof errorText!="undefined" && errorText!="") { %>
      <span class='error'><%- errorText %></span>
    <% } %>

    <form action="signin" method="post" class="formbox">
      <div class="leftDescriptor">
        <div class="descriptor">
          Username
        </div>
        
        <div class="descriptor">
          Password
        </div>
        
        <div class="descriptor">
          &nbsp; <!-- Spacer -->
        </div>
        
        <div class="descriptor">
          <input type="submit" name="sub" value="Sign In" />
        </div>
      </div>
      <div class="rightInputs">
        <div class='inputs'>
          <input type="text" name="userName" <% if (typeof error!="undefined" && (error & 1)>0) { %>class="errorBox"<% } %> value="<% if (typeof username!="undefined") { %><%- username %><% } %>" />
        </div>
        
        <div class='inputs'>
          <input type="password" name="pass" <% if (typeof error!="undefined" && (error & 4)>0) { %>class="errorBox"<% } %> value="" />
        </div>
        
      </div>
    </form>
  </body>
</html>