<!-- <!DOCTYPE HTML>
<html>

<head>
</head>
<body>
</body> -->
<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<!-- Bootstrap theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

<!-- Custom CSS for the header -->
<link rel="stylesheet" href="css/header.css" />

<!-- Bootstrap Javascript and header-specific Javascript -->
<script type="text/javascript" src="http://twitter-bootstrap.node1.zygote.cc/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="js/headerScripts.js"></script>

<!-- jQuery and custom Bootstrap scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="Custom Bootstrap/js/bootstrap.min.js"></script>

<!-- Nav bar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!--<% if (typeof signedInAs!="undefined") { %>
	<div class="navbar-header">
		<a class="navbar-toggle"
			href='profile?user=<%= signedInAs %>'><%= signedInAs %></a>
	</div>
	<% } %> -->
	
	
	
	
	<div class="navbar-collapse collapse">
	
	  <!-- Home button/"logo" -->
		<ul class="nav" style="float:left">
			<li><a style="font-size:20pt" class="navbar-brand" href="/">Connective</a></li>
		</ul>
	
    <!-- Search form -->
	  <form class="navbar-form navbar-middle" role="form" action="/searchResults" method="post"> <!-- navbar-right -->
	  
	    <div class="form-group">
		  <input id="classNameBox" style="width:400px" type="text" placeholder="Class Name" name="className" class="form-control"><!-- class form-control -->
		</div>
	  
		<div class="form-group">
	    <div class="dropdown">
		  
		  
				<!-- Advanced search dropdown -->
				<a href="#" style="background:#E0E0E0" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Advanced Search<b class="caret"></b></a>
                <ul class="dropdown-menu" style="width:300px">
					<div style="margin:5px">
						<input id="sectionBox" name="section" onkeypress="return isNumberKey(event)" style="width:130px;margin:5px" 
							type="text" placeholder="Section Number" class="form-control">
						<select id="semesterSelect" style="width:140px" name="semester" class="form-control">
							<option value="any">Semester</option>
						</select><br />
						<div style="text-align:center; width:100%">OR</div>
					<label style="font-weight:normal;margin:5px">
					  <input id="justRegisteredClassesCheckBox" name="justRegisteredClasses" type="checkbox" class="checkbox"> Just show everyone in my classes and sections
					</label>
					</div>
					<div style="margin:5px; border-top:1px solid #666666; padding-top:5px">
						<span style="color:black">Peer rating of at least:</span>
						<select id="ratingLimit" style="width:80px" name="ratingLimit" class="form-control">
						  <option value=""></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<span style="color:black"> stars</span>
					</div>
					
					<input id="userNameSearchBox"  style="margin:5px" 
							type="text" placeholder="Username" name="userName" class="form-control">
                </ul>
		</div>
		</div>
	    
		
		<button id="searchButton" type="submit" class="btn btn-success">Search for other users</button>
    
      <!-- Notifications button -->
			<% if (typeof signedInAs!="undefined") { %>
			<span class="dropdown">
				<a href="#" class="connections nonewConnections" data-toggle="dropdown"></a>
					<ul id="connectionNotices" class="dropdown-menu" style="width:300px">
					</ul>
				</span>
		<% } %>
    
    <!-- Currently signed-in username (link to your profile) and signout link in right-top corner -->
		<ul class="nav" style="float:right">
			<li>
			<% if (typeof signedInAs!="undefined") { %>
			  <a style="font-size:20pt; padding-right:0px" class="navbar-brand" href="profile?user=<%= signedInAs %>"><%= signedInAs %></a><a style='float:right' class='signout' href='signout'><img style='vertical-align:middle; margin:0px; padding:0px; position:relative; top:-5px' src='images/signout.png' /></a></li>
			<% } %>
		</ul>
	  </form>
	</div><!--/.navbar-collapse -->
  </div>
</div>





	

<!-- </html> -->